:root {
  --vinotinto: #691c32;
  --vinotinto-oscuro: #451321;
  --beige: #f1e4ce;
  --beige-claro: #faf6ee;
  --dorado: #c7a56a;
  --blanco: #ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--beige-claro);
  color: var(--vinotinto-oscuro);
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 80px;
}
.logo h1 {
  margin: 0;
  font-family: Georgia, serif;
  font-size: 28px;
  color: var(--beige);
}

.logo-proyecto {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 50%;
  
}

.nombre-proyecto h1 {
  margin: 0;
  font-family: Georgia, serif;
  font-size: 25px;
  color: var(--beige);
}

.nombre-proyecto span {
  display: block;
  margin-top: 2px;
  font-size: 9px;
  letter-spacing: 1px;
  color: var(--dorado);
}
/*Barra de navegación*/

.barra-navegacion {
  width: 100%;
  height: 80px;
  padding: 0 6%;
  background-color: var(--vinotinto);
  display: flex;  
  align-items: center;
  justify-content: space-between;
  color: var(--blanco);
}


.navegacion {
  display: flex;
  align-items: center;
  gap: 28px;
}

.navegacion a {
  color: var(--beige);
  text-decoration: none;
  font-size: 32px;
  transition: color 0.3s ease;
  white-space: nowrap;
}

.navegacion a:hover {
  color: var(--dorado);
}

.boton-barra-navegacion {
  display: flex;
  align-items: center;
  gap: 10px;
}

.boton-inicio-sesion,
.boton-registro {
  padding: 10px 18px;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;
}

.boton-inicio-sesion {
  background-color: transparent;
  color: var(--blanco);
  border: 1px solid var(--beige);
}

.boton-inicio-sesion:hover {
  background-color: var(--beige);
  color: var(--vinotinto);
}

.boton-registro{
  background-color: var(--dorado);
  color: var(--vinotinto-oscuro);
  border: 1px solid var(--dorado);
  font-weight: bold;
}

.boton-registro:hover {
  background-color: var(--beige);
  border-color: var(--beige);
}

/* Eslogan */

.eslogan{
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 20px;
  background-color: var(--vinotinto);
  color: var(--blanco);
}

.eslogan p {
  margin: 0 0 20px 0;
  color: var(--dorado);
  font-size: 14px;
  letter-spacing: 4px;
  
}

.eslogan h2 {
  margin: 0 0 25px 0;
  color: var(--beige);
  font-size: 52px;
  font-weight: 700px;
  line-height: 1.2;
  display: block;
}

.eslogan span {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  font-size: 17px;
  line-height: 1.7;
  color: var(--beige);
}

/* Barra de busqueda*/

.barra-busqueda {
  width: 80%;
  max-width: 1000px;
  margin: -35px auto 50px;
  padding: 15px;
  background-color: var(--blanco);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 10;
}

.campo-busqueda {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 15px;
}

.campo-busqueda span {
  font-size: 18px;
}

.campo-busqueda input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  color: var(--vinotinto-oscuro);
}

.boton-busqueda {
  padding: 14px 30px;
  border: none;
  border-radius: 6px;
  background-color: var(--vinotinto);
  color: var(--blanco);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.boton-busqueda:hover {
  background-color: var(--vinotinto-oscuro);
}

/* Filtro*/

.seccion-filtro {
  width: 100%;
  padding:  20px 7% 70px;
  background-color: var(--beige-claro);
}

.contenedor-filtro {
  max-width: 1200px;
  margin: 0 auto;
}

.titulo-filtro {
  margin-bottom: 25px;
}

.titulo-filtro span {
  color: var(--dorado);
  font-size: 11px;
  letter-spacing: 3px;
  font-weight: bold;
}

.titulo-filtro h2 {
  margin-top: 8px;
  color: var(--vinotinto-oscuro);
  font-family: Georgia, serif;
  font-size: 32px;
}

.filtros {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 25px;
  background-color: var(--blanco);
  border-radius: 10px;
  box-shadow: 0 8px 25px rgb(69, 19, 33, 0.88);
}

.filtro {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filtro label {
  color: var(--vinotinto-oscuro);
  font-size: 12px;
  font-weight: bold;
}

.filtro select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: var(--blanco);
  color: var(--vinotinto-oscuro);
  font-size: 12px;
  outline: none;
  cursor: pointer;
}

.filtro select:focus {
  border-color: var(--dorado);
}